/*############################# CONSTANTES ##############################*/
:root {
  --NEUTRAL_COLOR: rgb(92,97,101);
  --COLD_COLOR1: rgb(19,123,135);
  --COLD_COLOR2: rgb(50,179,200);
  --WARM_COLOR: rgb(246,163,61);
}
red{color: red;}
bleu{color: blue;}
vert{color: green;}
orange{color: rgb(228,140,26);}
violet{color: rgb(142,51,206);}


/*################################ PAGES ################################*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/*################################ HEADER ################################*/
#menu_home /*Bandeau du haut de la page*/
{
	background-color: var(--COLD_COLOR1);
	padding: 10px;
    border: 10px #1C1C1C;
    margin: 0;
    flex-wrap:nowrap;
    display: flex;
	align-items: center;
}
#header_txt_box /*Zone de text du bandeau du haut de la page*/
{
	background-color: var(--WARM_COLOR) ;
	padding: 20px;
    border: 0;
    margin: 20px;
    flex-wrap:nowrap;
    border-radius: 30px;
    color:rgb(28,28,28);
}

/*################################ CONTENU ################################*/
/*################ MENU ################*/
nav /*Zone de menu glissante*/
{
	background-color: red;
	width: 50%;
	min-width:210px;
	padding: 20px;
	position:fixed;
}
gene_analysis_start/*Zone de menu*/
{
	background-color: red;
	width: 50%;
	padding: 20px;
	position:fixed;
}
gene_not_analyzed/*Zone de menu*/
{
	text-align: justify;
	background-color: yellow;
	width: 800px;
	border: 0;
    border-radius: 30px;
    margin: 50px; 
    color:rgb(46,46,46);
    margin-top:0.5em;
}
#side_barre /*Zone de menu*/
{
	background-color: rgb(58,140,142);
	width: 210px;
	min-width:210px;
	padding: 20px;
}

p.navigation_in /*Rectange de l'éléments du menu sur lequel on est*/ 
{
	background-color: var(--COLD_COLOR2) ;
    padding: 10px;
    font-weight: bold;
}
p.navigation_out  /*Rectange de chaque éléments du menu sur lequel on peut aller*/ 
{
	background-color: var(--NEUTRAL_COLOR);/*78,186,189*/
    padding: 10px;
}
p.navigation_out:hover /*quand on passe la souris dessus*/
{
	background-color: var(--COLD_COLOR2) ;
    padding: 10px;
}
p.navigation_out:active /*quand on a cliqué dessus (quand on est sur cet onglet)*/
{
	font-weight: bold;
    padding: 10px; 
}
aside /*Pour mettre des ajouts au texte*/
{
	background-color: rgb(78,186,189);
    border-radius: 30px;
}
a.nav{ /*Permet de modifier l'aspect des liens hypertext*/
	text-decoration: none;
	color:white;
}
/*################ CONTENU ################*/
#conteneur /*Contenu de la page*/
{
	background-color: rgb(244,235,230) ;
	display: flex;
	flex-wrap:nowrap;
	height: 100%;
}
section /*Zone de txt*/
{
	text-align: justify;
	width: 800px;
	border: 0;
    border-radius: 30px;
    margin: 50px; 
    color:rgb(46,46,46);
    margin-top:0.5em;
}
section.under_part/*Zone par diplome*/
{
	text-align: justify;
	width: 750px;
	border: 5px solid gray;
    border-radius: 30px;
    padding: 30px;
    margin: 0px; 
    color:rgb(46,46,46);
	padding-top:0;
}
a.contenu{ /*Permet de modifier l'aspect des liens hypertext*/
	text-decoration: underline;
    color:black;
    font-weight: bold;
}
h2.titre{
	font-family: Gill Sans, serif;
	color:grey;
	font-size: 2.5em;
	margin-left: 3em;
	text-decoration:underline;
	margin-bottom: 0.5em;
	margin-top:0.5em;
}

/*################################ FOOTERS ################################*/
#footer_up /*Pied de page haut*/
{
	background-color: var(--WARM_COLOR) ;
	padding: 0px;
    border: 0px;
    margin: 0;
    flex-wrap:nowrap;
}
#footer_bottom /*Pied de page bas (image)*/
{
	background-color: #1C1C1C ;
    flex-wrap:nowrap;
}
#footer_up_inside /*Zone de texte du pied de page haut*/
{
	display: flex;
	justify-content: center;
	align-items: center;
}